#photos
{
	list-style-type: none;
	display: block;
}
.nav-item
{
	list-style-type: none;
	display: block;
}
.right-container
{
	float: right;
}
body {
	margin: 0%;
	padding: 0%;
	background-color: rgb(143, 219, 219);
}

#canvas {
	display: none;
}
.navbar {
	background: rgb(105, 182, 182);
	padding: 15px;
	height: 40px;
	color: rgb(73, 88, 156);;
}
.navbar h1 {
	margin: 0%;
	text-align: center;
}
.top-container {
	width: 500px;
	margin: 30px auto;
}
